python==3.13.13
avro==1.12.0
boto3==1.43.6
botocore==1.43.6
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
confluent-kafka==2.14.0
cryptography==48.0.0
fsspec==2025.10.0
furl==2.1.4
greenlet==3.5.0
grpcio==1.80.0
hopsworks==4.8.1
hopsworks-aiomysql==0.2.2
hopsworks-apigen==1.0.5
idna==3.14
javaobj-py3==0.4.4
jmespath==1.1.0
joblib==1.5.3
mock==5.2.0
numpy==2.4.4
opensearch-py==2.4.2
orderedmultidict==1.0.2
packaging==26.2
pandas==2.3.3
protobuf==4.25.9
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodomex==3.23.0
pyhumps==1.6.1
pyjks==20.0.0
PyMySQL==1.1.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.0
retrying==1.4.2
s3transfer==0.17.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
SQLAlchemy==2.0.41
threadpoolctl==3.6.0
tqdm==4.67.3
twofish==0.3.0
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
